html, body, #root, .app-container{
    height: 100%;
    /* position: absolute;
    bottom: 0px; */
}

.logoStartPage{
    margin: 3% 3% 3% 9%;
    width: 1000px;
}
.towButtonStartPage{
    margin: 2% auto 2% 45%;
}

.pucHomeSing{
    width: 190px;
    height: 198px;
    border-radius: 0px;
    margin: 8% 13% 3% 5%;
}

.formSingn{
    width: 400px !important;
    margin: auto !important;
}
.textUpInput{
       margin: 1% auto 1% 12%;
}
.buttonPageSing{
        margin: 3% auto auto 45%;
}
.backButtonSing{
    margin: 0% 1% 0% 37%;
}

.butT2wo{
    background-color: red !important;
    border: 1px solid red !important;
    /* color Text */
    color: #00ff2f !important;
    border-color: #0087ff !important;
}


.mmmm{
   box-shadow: 1px 3px 24px grey;
   width: 85%!important;
    border-radius: 14px;
}

.nnnn{
    margin-top: 10%;
}

.yyyy{
    margin: 14% auto;
}

.xxxx{
    box-shadow: 1px 3px 7px grey;
    width: 26%!important;
    border-radius: 9px;
    padding-bottom: 26%;
    margin: 6% 4% 1% 2% !important;
}
.xxxx:hover{
    border-left: 8px solid #74f1e6d6;;
}

.pageInfoDashbord{
    box-shadow: 1px 3px 7px grey;
    width: 45%!important;
    border-radius: 9px;
    margin: 0% 4% 1% 29% !important;
}


.textInPost{
    padding: 5px 23px 5px 17px;
    text-align: left;
}
.textInPost p {
    width: 100%;
}
.borderWide{
    border-bottom: 2px solid #74f1e6d6;
}
.formChangPas{
    box-shadow: 1px 3px 24px grey;
    width: 51% !important;
    border-radius: 14px;
    margin: 8% 1% 2% 12% !important;   
}
.changeH1{
  margin-top: 18%;  
} 

.butChang{
        margin: 0% 1% 2% 27%;
}

.sidebar{
    font-size:1.75em;
}
.sidebarCall{
    margin-top: 130% !important;
}
.sidenav---sidenav---_2tBP {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1006;
    min-width: 64px;
    background: #7abbaa;
    transition: min-width 0.15s;

    }

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T {
    position: relative;
    display: block;
    line-height: 50px;
    height: 50px;
    white-space: nowrap;
    text-decoration: none;
    border: 3px solid #ffffff2b;
    font-size: 14px;
}
.sidenav---sidenav-navitem---uwIJ-:last-child{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.sidebarCall.sidenav---sidenav-navitem---uwIJ-{
    position: absolute;
    bottom: 50px;
    margin-bottom: 4%;
    width: 100%;
}

.icondit{
    width: 50px;
}

.cssBtn{
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #7abbaa;
    border: 1px  #7abbaa;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem
}
.cssBtn:hover{

    box-shadow: 5px 3px 24px grey;
}
.cssBtnBack{
     display: inline-block;
    font-weight: 400;
      margin: 0% 1% 0% 37%;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #96AEBFAD;
    border: 1px  #96AEBFAD;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem
}
.cssBtnBack:hover{

    box-shadow: 5px 3px 24px grey;
}
.cssBtnBackSingle{
     display: inline-block;
    font-weight: 400;
    margin: 0% 0% 3% 25%;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #96AEBFAD;
    border: 1px  #96AEBFAD;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem
}
.cssBtnBackSingle:hover{
    box-shadow: 5px 3px 24px grey;
}
.cssBtnBackSingleElse{
      display: inline-block;
    font-weight: 400;
    margin: 0% 0% 3% 43%;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #96AEBFAD;
    border: 1px  #96AEBFAD;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem

}
.cssBtnBackSingleElse:hover{
    box-shadow: 5px 3px 24px grey;
}
.cssBtnBackEdit{
     display: inline-block;
    font-weight: 400;
    margin: 2% 1% 0% 44%;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #96AEBFAD;
    border: 1px  #96AEBFAD;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem
}
.cssBtnBackEdit:hover{
    box-shadow: 5px 3px 24px grey;
}

.picSit{
    width: 39%;
    margin: 0px 9px 5px 0px;
}
.picCall{
    background-color: red;
    width: 7%;
    margin: 3px 1px 6px 0px;
}

.logoCss{
    width: 7%;
    position: absolute;
    margin: 0% 0% 2% 92%;
}

.bulidingsDashbord {
    float:left;
    height: 266px !important;
    position: relative;
}
.columnDashbord{
    float: left;
  width: 33.33%;
  padding: 5px;
}

.rowDahbord{
     content: "";
  clear: both;
  display: table;
}
.imageDashbord{
    width: 300%;
}
.textCityDashbord{
    position: absolute;
    bottom: 34px;
    left: 30%;
}
.textGenderDashbord{
    position: absolute;
    top: 235px;
    left: 28%;
}
.textEmailDashcord{
    position: absolute;
    top: 252px;
    left: 18%;
}
.imageSingelPage{
    width: 100%;
    height: 300px !important;

}
.editButCss{
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 4%;
    margin-bottom: 3%;
    margin-left: 5%;
    background-color: #f1d06d;
    border: 1px #f1d06d;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}
.delButCss{
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 4%;
    margin-bottom: 3%;
    background-color: #ff0000a1;
    border: 1px #ff0000a1;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.editButCss:hover{
     box-shadow: 1px 1px 10px #f1d06d;
}
.delButCss:hover{
    box-shadow: 1px 1px 10px #ff0000a1;
}

.h1Addpost{
    font-family: 'Noto Serif', serif;
    text-align: center;
}

.infoAddPost{
    box-shadow: 1px 3px 7px grey;
    width: 36%!important;
    border-radius: 9px;
    padding: 1% 0% 1% 0%;
    margin: 1% 0% 0% 33% !important;
}
.cssBtnAddPost{
        display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #7abbaa;
    border: 1px #7abbaa;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    margin: 1% 1% 1% 47%;
}
.cssBtnAddPost:hover{
 box-shadow: 5px 3px 24px #7abbaa;
}
.cssBtnEditPost{
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #7abbaa;
    border: 1px #7abbaa;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    margin: 2% 0% 0% 0%;
}
.cssBtnEditPost:hover{
 box-shadow: 5px 3px 24px #7abbaa;
}


.formChnge{
    position: absolute;
    top: 14%;
    left: 12%;
}

.app-container{
    display: flex;
    position: relative;
}


.pucHomeSingin{
        width: 238px;
    height: 320px;
    border-radius: 0px;
    margin: 8% 13% 3% 5%;
}
.pucHomeSingup{
        width: 300px;
    height: 350px;
    border-radius: 0px;
    margin: 8% 0% 3% 5%;
}

.filterCss1{
  position: absolute;
    top: 13%;
    background-color: #7abbaa !important;
    border: 1px #7abbaa !important;
    color: white !important;
    right: 9%;
    width: 11% !important;
}
.filterCss2{
       position: absolute;
    top: 13%;
    background-color: #7abbaa !important;
    border: 1px #7abbaa !important;
    color: white !important;
    right: 21%;
    width: 11% !important;
}
.filterCss1:hover{
 box-shadow: 5px 3px 24px #7abbaa;
}
.filterCss2:hover{
 box-shadow: 5px 3px 24px #7abbaa;
}

#textForSingIn{
    color: #c49672;
    text-align: center;
}

.userImg{
  border-radius: 25px;
  height: 35px;
  margin: 10px;
}


.nav-item{
    text-align: center;
}

.nav-center {  
  text-align: center;
}

.CenterText{
      text-align: center;

}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
  float: left;
  

}

/* ul {
  padding-left: 0;
} */

.question {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.question-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.Cardss{
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

